<div id="harper_popup_product_page" class="harper-popup-overlay harper-popup-block n-animate">
    <div class="harper-popup-content harper-popup-inner">
		<div class="harper-popup-content n-animate">
            <button class="data-harper-close"></button>
            <div class="top-section">
                <div class="top-section-left">
                    <h2>Bringing the Store to You</h2>
                    <p> In Greater London? Try our pieces at home for 40 minutes and purchase only what you love. Your Style Concierge will take the rest away hassle-free.</p>
                </div>
                <div class="top-section-right desk-only"></div>	
            </div>
			<div class="bottom-section" id="harp-pop-sect-2">
                <div class="num-section"> 
                    <div class="num-row">
                        <div class="num-num">1.</div>
                        <div class="num-copy">
                            <h5>Try before you buy</h5>
                            Choose the pieces you wish to try on. No payment taken at the checkout.
                        </div>
                    </div>
                    <div class="num-row">
                        <div class="num-num">2.</div>
                        <div class="num-copy">
                                <h5>On your schedule</h5>
                            Select your 1-hr delivery window,<br> 10am to 10pm, 7 days a week.
                        </div>
                    </div>
                    <div class="num-row last">
                        <div class="num-num">3.</div>
                        <div class="num-copy">
                            <h5>Instant Return</h5>
                            Pay only for what you want to keep<br>and the rest is taken away hassle free.
                        </div>
                    </div>
                </div>
                <p class="bold desk-only">SIMPLY CHOOSE ‘TRY AT HOME’ AT BASKET</p>
                <div class="faq-link">
                    <a href="https://www.chintiandparker.com/pages/harper-concierge" target="_blank">Visit our FAQ page</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $(".data-harper-open").on("click", function(){
        $(".harper-popup-overlay, .harper-popup-content").addClass("active");
    });
    $(".data-harper-close").on("click", function(){
        $(".harper-popup-overlay, .harper-popup-content").removeClass("active");
    });
});
</script>
