{% if shop.permanent_domain == 'chinti-parker.myshopify.com' %}
    <!-- Harper checkout -->
    <div class="harper-or">
        <strong>or</strong>
    </div>

    <div class="checkout-harper--wrapper checkout-harper--full-cart">
        <div id="checkout-harper" class="5dd27d902f1233b990237eb1"></div>
    </div>
    <!-- End Harper checkout -->
{% endif %}
