<div id="storeViewInformation">
<p><span>You are currently shopping in {{storeFullCurrencyName}}</span> <a href="#" id="geoLocationClose">Continue Shopping</a> <a href="#" data-featherlight="#multiStoreSwitcher" data-featherlight-variant="regionSwitcherModal">Change region</a></p>
</div>