<h1>Hello world</h1>


<div id="" class="active">
    <div class="product-list">
        <div class="wrapper">
            <h2 class="blockHeader">Styled With</h2>
            <div class="product-grid clearfix">
              {% for styled_product in product.metafields.product.styled_with.value %}
                {{styled_product.title}}
              {% endfor %}
            </div>
          
        </div>
    </div>
</div>