<h1>Hello world</h1>
{{product.metafields.product.styled_with}}
     {% for related_product in product.metafields.product.styled_with.value %}
                  {{ related_product.title }}
     {% endfor %}