<!-- globale_my_account_globale_orders_list_include -->
{% include 'globale-orders-list' %}

<div class="my-account dashboard wrapper">
     <div class="row">
          <div class="col-main">
               <div class="section">
                    <h2>Hello, {{ customer.name }}</h2>
                    <ul class="nav">
                         <li><a href="/pages/my-orders"><i class="fal fa-book"></i>My Orders</a></li>
                         <li><a href="/pages/how-to-return"><i class="fal fa-exchange"></i>How to Return</a></li>
                         <!--<li><a href="/pages/my-details"><i class="fal fa-user"></i>My Details</a></li>/-->
                         <li><a href="/account/addresses"><i class="fal fa-home"></i>Address Book</a></li>
                         <li><a href="/pages/wishlist"><i class="fal fa-heart"></i>Wishlist</a></li>
                         <li><a href="/pages/faqs"><i class="fal fa-question-circle"></i>Frequently Asked Questions</a></li>
                         <li><a href="/pages/contact-us"><i class="fal fa-comment"></i>Contact Us</a></li>
                    </ul>
                    <a class="button button-second" href="/account/logout">Sign Out</a>
               </div>
          </div>
          {% section 'account-section' %}
     </div>
</div>
{% section 'dotmailer-connector' %}
