<div data-section-id="{{ section.id }}" data-section-type="content-delivery-section" class="wrapper">
	{% if section.settings.content != blank %}
		{{ section.settings.content }}
	{% endif %}
</div>

{% schema %}
  {
    "name": "Content - Delivery",
    "class": "index-section",
    "settings": [
          {
            "type": "html",
            "id": "content",
            "label": "Content",
            "default": "<p>Default <em>richtext</em> <a href=\"https://example.com/\">content</a></p>"
          }
    ],
    "presets": [
      {
        "name": "Content - Delivery",
        "category": "Content"
      }
    ]
  }
{% endschema %}
