<header class="page-header">
    <div class="page-header__logo">
        <a href="{{ shop.url }}">
            {%- render 'svg--logo' -%}
        </a>
    </div>

    <div class="page-header__menu">
        <button
            class="page-header__icon meganav-trigger"
            data-meganav-trigger
        >
            {%- render 'svg--menu' -%}
        </button>

        {%-
            render 'meganav'
            | meganav: section.blocks
            | classes: 'meganav--desktop'
            | enable_mobile_background_colour: section.settings.enable_mobile_background_colour
            | mobile_background_colour: section.settings.mobile_background_colour
            | enable_mobile_item_colours: section.settings.enable_mobile_item_colours
            | mobile_item_colour: section.settings.mobile_item_colour
            | enable_mobile_action_colours: section.settings.enable_mobile_action_colours
            | mobile_action_colour: section.settings.mobile_action_colour
        -%}
    </div>

    <div class="page-header__actions">
        {%- render 'header-actions' -%}
    </div>
</header>

{% render 'header--search-container' %}

{% schema %}
{
    "name": "Meganav",
    "blocks": [
        {
            "name": "Navigation Item",
            "type": "nav_item",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Title",
                    "info": "The text to display in the top menu."
                },
                {
                    "id": "title_url",
                    "type": "url",
                    "label": "URL",
                    "info": "Optional. Only applies to desktop navigation."
                },
                {
                    "id": "title_colour",
                    "type": "color",
                    "label": "Title Colour",
                    "info": "The colour of the title text. Select 'None' to keep it black (the default)."
                },
                {
                    "id": "inner_link_colour",
                    "type": "color",
                    "label": "Menu Item Colour",
                    "info": "The colour of the Inner nav menu. Select 'None' to keep it black (the default).",
                    "default": "#000"
                },
                {
                    "id": "sale_colour",
                    "type": "color",
                    "label": "Sale Item Colour",
                    "info": "The colour of the Sale menu. Select 'None' to keep it red (the default).",
                    "default": "#FF0000"
                },
                {
                    "id": "mobile_title_colour",
                    "type": "checkbox",
                    "label": "Enable Title Colour on Mobile",
                    "info": "Selecting this will enable the title colour on mobile navigation."
                },
                {
                    "id": "subheadings_colour",
                    "type": "color",
                    "label": "Subheadings Colour",
                    "info": "The colour of the subheadings. Select 'None' to keep it black (the default)."
                },
                {
                    "id": "linklist",
                    "type": "link_list",
                    "label": "Menu"
                },
                {
                    "id": "background_colour",
                    "type": "color",
                    "label": "Background Colour",
                    "info": "The background colour of the menu dropdown. Select 'None' to keep it white (the default)."
                },
                {
                    "id": "featured_content_mobile",
                    "type": "checkbox",
                    "label": "Show featured content section on mobile."
                },
                {
                    "id": "featured_content_heading",
                    "type": "text",
                    "label": "Featured Content Heading"
                },
                {
                    "id": "featured_content_1",
                    "type": "url",
                    "label": "Featured Content 1"
                },
                {
                    "id": "featured_content_title_1",
                    "type": "text",
                    "label": "Featured Content Title 1",
                    "info": "If this is left blank, the title will be taken from the collection or article."
                },
                {
                    "id": "featured_content_image_1",
                    "type": "image_picker",
                    "label": "Featured Content Image 1",
                    "info": "If this is left blank, the image will be taken from the collection or article."
                },
                {
                    "id": "featured_content_mobile_image_1",
                    "type": "image_picker",
                    "label": "Featured Content Mobile Image 1",
                    "info": "Override the selected image for mobile."
                },
                {
                    "id": "featured_content_mobile_1",
                    "type": "checkbox",
                    "label": "Show on mobile",
                    "info": "Choose this content to show on mobile. Only one per meganav should be selected."
                },
                {
                    "id": "featured_content_2",
                    "type": "url",
                    "label": "Featured Content 2"
                },
                {
                    "id": "featured_content_title_2",
                    "type": "text",
                    "label": "Featured Content Title 2",
                    "info": "If this is left blank, the title will be taken from the collection or article."
                },
                {
                    "id": "featured_content_image_2",
                    "type": "image_picker",
                    "label": "Featured Content Image 2",
                    "info": "If this is left blank, the image will be taken from the collection or article."
                },
                {
                    "id": "featured_content_mobile_image_2",
                    "type": "image_picker",
                    "label": "Featured Content Mobile Image 2",
                    "info": "Override the selected image for mobile."
                },
                {
                    "id": "featured_content_mobile_2",
                    "type": "checkbox",
                    "label": "Show on mobile",
                    "info": "Choose this content to show on mobile. Only one per meganav should be selected."
                },
                {
                    "id": "featured_content_3",
                    "type": "url",
                    "label": "Featured Content 3"
                },
                {
                    "id": "featured_content_title_3",
                    "type": "text",
                    "label": "Featured Content Title 3",
                    "info": "If this is left blank, the title will be taken from the collection or article."
                },
                {
                    "id": "featured_content_image_3",
                    "type": "image_picker",
                    "label": "Featured Content Image 3",
                    "info": "If this is left blank, the image will be taken from the collection or article."
                },
                {
                    "id": "featured_content_mobile_image_3",
                    "type": "image_picker",
                    "label": "Featured Content Mobile Image 3",
                    "info": "Override the selected image for mobile."
                },
                {
                    "id": "featured_content_mobile_3",
                    "type": "checkbox",
                    "label": "Show on mobile",
                    "info": "Choose this content to show on mobile. Only one per meganav should be selected."
                }
            ]
        }
    ],
    "settings": [
        {
            "id": "emphasised_capture_words",
            "type": "text",
            "label": "Emphasised capture words",
            "info": "A comma-separated list of words or phrases that, if they appear in the final link in a column, will indicate that it should be separated and underlined.",
            "default": "all,everything"
        },
        {
            "id": "enable_mobile_background_colour",
            "type": "checkbox",
            "label": "Enable mobile background colour"
        },
        {
            "id": "mobile_background_colour",
            "type": "color",
            "label": "Mobile Background Colour",
            "info": "The background colour of the initial mobile menu",
            "default": "#ffffff"
        },
        {
            "id": "enable_mobile_item_colours",
            "type": "checkbox",
            "label": "Enable Mobile Item Colours",
            "info": "When selected, will enable to ability to choose text colours for mobile nav.",
            "default": false
        },
        {
            "id": "mobile_item_colour",
            "type": "color",
            "label": "Mobile Items Colour",
            "info": "The item colour of the initial mobile menu.",
            "default": "#ffffff"
        },
        {
            "id": "enable_mobile_action_colours",
            "type": "checkbox",
            "label": "Enable Mobile Action Colours",
            "info": "When selected, will enable to ability to choose action colours for mobile nav.",
            "default": false
        },
        {
            "id": "mobile_action_colour",
            "type": "color",
            "label": "Mobile Action Colour",
            "info": "The action colour of the initial mobile menu.",
            "default": "#ffffff"
        }
    ]
}
{% endschema %}
