{%- if section.settings.show_notification == true -%}
    <div id="notificationRibbon" class="owl-carousel owl-theme notification-carousel" data-time="{{ section.settings.notification_time }}">
        {% for block in section.blocks %}    
            <!-- Single Notfication Item -->
            <p class="item">
                {% if block.settings.notification_link != blank %}<a href="{{block.settings.notification_link}}">{%endif%}
                {{block.settings.notification_text | escape}}
                {% if block.settings.notification_link != blank %}</a>{%endif%}
            </p>
            <!--// Single Notfication Item -->
        {% endfor %}
    </div>
{%- endif -%}



{% schema %}
{
    "name": "Site Notification Message",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_notification",
            "label": "Show Notification",
            "default": true
        },
        {
            "id": "notification_time",
            "info": "Keep the value above 1500",
            "type": "number",
            "label": "Notification Slide Speed (MS)",
            "default":2500
        }
    ],
    "blocks":[
        {
            "type": "notification-item",
            "name": " Notification Item",
            "settings": [
                {
                    "id": "notification_text",
                    "type": "text",
                    "label": "Notification Text"
                },
                {
                    "id": "notification_link",
                    "type": "url",
                    "label": "Notification Link"
                }

            ]
        }

    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<style>
 #shopify-section-notification-ribbon-carousel .owl-stage{
    display: flex;
    align-items: center;
  }
  #notificationRibbon .item{
    display:none;
  }
  #shopify-section-notification-ribbon-carousel .item:nth-child(1){
    display:block;
  }
</style>

