{% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}
{% unless shop.password_message == blank %}
  <div class="password-message">
    {{ shop.password_message }}
  </div>
{% endunless %}



