<div class="page-title">
		<h1>Press</h1>
	</div>

<div class="product-list" id="pressCMS">
	<div class="wrapper">
		<div class="collection-product-grid">
		<div class="product-grid clearfix">
     {% section 'cms-sections-press' %}
</div>
</div>
</div>
</div>