<div class="my-account wrapper">
	<div class="page-title title-buttons">
		<h2>
			{{ page.title }}
			<p class="return"><a class="button-text" href="/collections/all">Continue Shopping</a></p>
		</h2>
	</div>
	<div class="row">
		{{ page.content }}
		{% include 'wishl-wishlist' %}
	</div>
</div>



