
<div class="my-account wrapper">
	<div class="page-title title-buttons">
		<h1> {{page.title}}
          {% if customer %}<p class="return"><a class="button-text" href="/account"><i class="fal fa-long-arrow-left"></i>Return to Account Details</a></p>{% endif %}
          </h1>
	</div>
     <div class="row">
	
     {{page.content}}

	</div>
</div>
