<div class="cms-page wrapper page--concierge-faqs">
    <div class="page-title">
        <h1>
            Chinti & Parker delivered
            <br>
            to your doorstep
        </h1>
        <h4>Available in London</h4>
    </div>
    <div class="how-it-works num-section-wrapper">

		<h3 class="how-does-it-work">How does it work?</h3>

        <div class="num-section">
            <div class="num-row">
                <div class="num-num">1.</div>

                <div class="num-copy">
                    <h5>Try Before You Buy</h5>
                    We bring the store to you. Add the pieces you wish to try to your bag. No money is taken at the checkout.
                </div>
            </div>

            <div class="num-row">
                <div class="num-num">2.</div>


                <div class="num-copy">
                    <h5>On Your Schedule</h5>
                    Select your one-hour delivery window, between 10am and 10pm, 7 days a week.
                </div>
            </div>

            <div class="num-row last">
                <div class="num-num">3.</div>

                <div class="num-copy"><h5>Instant Returns</h5>
                    Try your pieces in the comfort of your own home and only pay for what you keep. We take the rest away, hassle free.
                </div>
            </div>
        </div>

		<h3 class="simply-click">
            Simply click
            <strong>'Try At Home'</strong>
            at the checkout!
        </h3>
    </div>

	<div class="section--get-in-touch">
        {% section 'cms-sections--concierge-contacts' %}
	</div>

    <div class="cms-content">
        {% section 'cms-sections-faq--concierge' %}
    </div>
</div>
