<div class="my-account wrapper">
    <div class="page-title title-buttons">
        <h1>
            {{ page.title }}
            <p class="return"><a class="button-text" href="/collections/all">Continue Shopping</a></p>
        </h1>
    </div>
    <div class="cms-content">
        <!-- include 'wishlist-shared' -->
    </div>
</div>
